<h1>All The Jukeboxes</h1>
<h2>Here you will find a list of jukeboxes available to rent</h2>
<p>Click on each one for more detail</p>
<br>

<%= link_to "List New Jukebox", new_item_path %>
<br>
<br>

<% @items.each do |item| %>
  <li><%= link_to item.title, item_path(item) %></li>
  <br>
  <%= image_tag "#{item.image}" %>
  <br>
  <p><%= "£#{item.price}"  %><p>
  <button><%= link_to "Edit Jukebox", edit_item_path(item) %></button>
  <button><%= link_to "Delete Jukebox", item_path(item), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></button>
  <br>
  <br>
<% end %>


    <%# <% @users.each do |user| %>
      <%# <li><% item.user_id == user.id %>
    <%# <% end %>
