<h1><%= @item.title %></h1>
<p>Owner: <%= @item.user.first_name %></p>
<%= image_tag "#{@item.image}" %>
<p><%= @item.content %></p>
<p><%= "£#{@item.price}" %></p>
<button><%= link_to "Book Jukebox", new_item_booking_path(@item) %> </button>
